.page {
    flex:0.85;
    display: flex;
    align-items: center;
    background-color: #333333;
    overflow: scroll;
    flex-direction: column;
}

.page > h1 {
    color: #f9f9f9;
    margin:10px;
}